* {
	margin: 0;
	box-sizing: border-box;
	

}

body{
	background-image: url("../image/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#full{	
	min-height: 100vh;
	max-height: fit-content;
	margin: auto;
	display: flex;
	flex-direction: column;
	

}

#container {
	width: 100vw;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	height: fit-content;
}



#phisher{
	display: flex; 
	width: 700px;
	margin-bottom: 20px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 2px;
	height:350px;
	border: 1px solid black;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2% 5%;
	opacity: 50%;
	background-color: black;
	font-family: "Roboto Mono";
	color: white;

}

#result_btn{
	display: none;
}

#phisher input{
	width: 100%;
	margin: 20px 0px 10px 0px;
	height: 30px;
	padding: 5px;
	outline: none;
	background-color: black;
	box-shadow: 2px 4px 20px 3px rgba(149,169,196,0.56) inset;
	color: white;

}

#phisher h3{
	margin-top: 30px;
}

#phisher button:not(#result_btn):hover {
	padding: 10px 50px;
	background-color: rgba(0, 0, 0, 0.445);
}

#phisher button:not(#result_btn) {
	padding: 10px 40px;
	border: 1px solid white;
	color: white;
	font-size: 15px;
	background-color: black;
	border-radius: 8px;
}

#random{
	align-self: flex-start;
	font-size: 12px;
	margin-bottom: 30px;
}

#result_p{
	width: 100%;
	min-height: 30px;
	max-height: fit-content;
	background-color: black;
	box-shadow: 2px 4px 20px 3px rgba(23, 25, 27, 0.9) inset;
	padding: 2px 5px;
	font-size: 15px;
	font-weight: 700;
}

#result {
	display: none;
	width: 100%;
	align-items: left;
	justify-content: space-between;
	height: fit-content;
	margin-bottom: 10px;
}

#check{
	margin-top: 10px;
}

#guide_home{
	width: 100vw;
	/* background-color: rgba(3, 3, 3, 0.5); */
	color: white;
	font-family: 'Roboto Mono';
	padding: 20px;
}

#guide_texts_home {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	height: 130px;
	/* border: 1px solid orange; */
	margin: auto;
}


#guide_texts_home .awareness-block{
	font-size: 13px;
	text-align: center;
	text-wrap: wrap;
	padding: 15px;
	background-color: rgba(3, 3, 3, 0.5);
	box-shadow: 2px 3px 16px 7px rgba(45, 57, 80, 0.9) inset;
	align-content: center;
}


#guide_texts_home div:hover{
	font-size: 15px;
}

#logo{
	align-self: flex-start;
	padding-left: 20px;
	
}

footer{
	width: 100%;
	height: 40px;
	text-align: center;
	align-content: center;
	background-color: rgba(41, 38, 38, 0.5);
	margin-top: auto;
	color: white;
	font-family: 'Roboto Mono'
}


@media screen and (min-width: 801px){
	#guide_texts_home .awareness-block{
		min-width: 50%;
		max-width: 230px;
	}
	.slider-block{
		gap: 1rem;
		/* flex-wrap: wrap; */
		
	}
	
	#slider_outer{
		width: 70%;
		margin: auto;
		/* overflow: hidden; */
	}
	#slider_outer[data-animated=true]{
		overflow: hidden;
		mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
		-webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
	}

	#slider_outer[data-animated=true] .slider-block{
		width: max-content;
		flex-wrap: nowrap;
		animation: scroll 15s linear infinite;
	}

	@keyframes scroll{
		0% {
			transform: translate(0%)
		}
		50% {
			transform: translate(-50%);
		}
		100% {
			transform: translate(-100%);
		}
	}

	
}
@media screen and (max-width: 1499px) {
	#phisher{
		width: 600px;
	}
	#guide_home{
		width: 100vw;
	}
	#guide_texts_home div{
		padding: 10px;
		width: fit-content;
	}
}



@media screen and (max-width: 800px){

	#container{
		width: 100%;
		margin: auto;
		overflow: hidden;
	}
	#phisher{
		width: 95%;
	} 

	#guide_texts_home .awareness-block{
		width: 300px;
		text-wrap: wrap;
		height: 180px;
	}
	.slider-block{
		gap: 1rem;
		/* flex-wrap: wrap; */
	}
	
	#slider_outer{
		width: 90%;
		margin: auto; 
	}
	#slider_outer{
		overflow: hidden;
		mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
		-webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
	}

	#slider_outer .slider-block{
		width: max-content;
		flex-wrap: nowrap;
		animation: scroll 15s linear infinite;
		height: fit-content;
	}

	@keyframes scroll{
		0% {
			transform: translate(0%)
		}
		100% {
			transform: translate(-65%);
		}
	}
	#logo img{
		width: 100px;
		height: 100px;
	}
	
}

@media screen and (max-width: 800px) {

	
	/* #guide_home{
		width: 100vw;
	}
	
	#guide_texts_home{
		width: max-content;
		width: 100%;
		flex-direction: column;
		align-items: center; 
		height: fit-content;
		animation: scroll 15s linear infinite; 

	}  */

	/* #guide_texts_home .awaregness-block{
		width: 95% !important;
		height: 150px;
	}  */

	
} 