<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safe Search: AI Driven Phishing Links Detection</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/background.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
   
</head>
<body>
   
    <div id="full">
        <div id="logo">
            <img src="{{ url_for('static', filename='image/Phisher.png') }}">
        </div>
        <div id="container">  
            <div id="phisher">
                <div id="random">
                    Is the website phishing? Let's find out
                </div>
                <h3> Input URL </h3>
                <input type="text" name="url_box" placeholder="" id="input">
                <div id="result">
                    <p id="result_p"></p>
                    <button id="result_btn" onclick="">OK</button>
                </div>
                <button id="check">Check</button>
        
            </div>
            <div id="guide_home">
                <div id="slider_outer">
                    <!-- <marquee behavior="" direction=""> -->
                    <div id="guide_texts_home" class="slider-block" data-direction="left">
                        <div class="awareness-block slider">
                            <div>
                            <h3>Check URL Carefully</h3>
                            <p>Always verify the URL before entering any personal information. Phishing websites often have misspelled or suspicious URLs.</p>
                            </div>
                        </div>
                        <div class="awareness-block slider">
                            <div>
                            <h3>Use Security Software</h3>
                            <p>Install and keep security software up to date on all your devices. It can help detect and block phishing attempts.</p>
                            </div>
                        </div>
                        <div class="awareness-block slider">
                            <div>
                            <h3>Be Wary of Emails</h3>
                            <p>Avoid clicking on links or downloading attachments from unknown or suspicious emails. They could be phishing attempts.</p>
                            </div>
                        </div>
                        <div class="awareness-block slider">
                            <div>
                            <h3>Check URL Carefully</h3>
                            <p>Always verify the URL before entering any personal information. Phishing websites often have misspelled or suspicious URLs.</p>
                            </div>
                        </div>
                    <!-- </div></marquee> -->
                    </div>
                </div>
            </div>
        
            
        </div>
        <footer>© 2024 Bahria University</footer>
    </div>
  
<script src="{{ url_for('static', filename='js/background.js') }}"></script>
   
</body>
</html>